---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_KEY>&q=sunny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"nYiHd4Mh3w6fS","slug":"sunshine-nYiHd4Mh3w6fS","url":"https:\/\/giphy.com\/gifs\/sunshine-nYiHd4Mh3w6fS","bitly_gif_url":"https:\/\/gph.is\/2cyekug","bitly_url":"https:\/\/gph.is\/2cyekug","embed_url":"https:\/\/giphy.com\/embed\/nYiHd4Mh3w6fS","username":"","source":"https:\/\/dribbble.com\/shots\/2618098-Good-Day-Sunshine","rating":"g","content_url":"","source_tld":"dribbble.com","source_post_url":"https:\/\/dribbble.com\/shots\/2618098-Good-Day-Sunshine","is_sticker":0,"import_datetime":"2016-09-14
        22:00:09","trending_datetime":"2017-07-09 14:00:01","images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200_s.gif","width":"267","height":"200"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy_s.gif","width":"400","height":"300"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200w.gif","width":"200","height":"150","size":"62160","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200w.mp4","mp4_size":"20118","webp":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200w.webp","webp_size":"193038"},"fixed_height_small_still":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100_s.gif","width":"133","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200_d.gif","width":"267","height":"200","size":"8979","webp":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200_d.webp","webp_size":"16448"},"preview":{"width":"400","height":"300","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy-preview.mp4","mp4_size":"43154"},"fixed_height_small":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100.gif","width":"133","height":"100","size":"40285","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100.mp4","mp4_size":"14838","webp":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100.webp","webp_size":"119352"},"downsized_still":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy-downsized_s.gif","width":"400","height":"300","size":"4804"},"downsized":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy-downsized.gif","width":"400","height":"300","size":"150972"},"downsized_large":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy.gif","width":"400","height":"300","size":"150972"},"fixed_width_small_still":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100w_s.gif","width":"100","height":"75"},"preview_webp":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy-preview.webp","width":"400","height":"300","size":"21256"},"fixed_width_still":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200w_s.gif","width":"200","height":"150"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/480w_s.jpg","width":"480","height":"360","size":"6618"},"fixed_width_small":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100w.gif","width":"100","height":"75","size":"28671","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100w.mp4","mp4_size":"11951","webp":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/100w.webp","webp_size":"85524"},"downsized_small":{"width":"400","height":"300","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy-downsized-small.mp4","mp4_size":"43154"},"fixed_width_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200w_d.gif","width":"200","height":"150","size":"6633","webp":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200w_d.webp","webp_size":"12744"},"downsized_medium":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy.gif","width":"400","height":"300","size":"150972"},"original":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy.gif","width":"400","height":"300","size":"150972","frames":"120","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy.mp4","mp4_size":"42791","webp":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy.webp","webp_size":"415552"},"fixed_height":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200.gif","width":"267","height":"200","size":"90028","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200.mp4","mp4_size":"24826","webp":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/200.webp","webp_size":"260722"},"looping":{"mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy-loop.mp4","mp4_size":"212045"},"original_mp4":{"width":"480","height":"360","mp4":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy.mp4","mp4_size":"42791"},"preview_gif":{"url":"https:\/\/media1.giphy.com\/media\/nYiHd4Mh3w6fS\/giphy-preview.gif","width":"400","height":"300","size":"20565"}},"title":"sunny
        sun GIF","_score":2500018,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7426267465717059ccd213&event_type=GIF_SEARCH&gif_id=nYiHd4Mh3w6fS&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7426267465717059ccd213&event_type=GIF_SEARCH&gif_id=nYiHd4Mh3w6fS&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7426267465717059ccd213&event_type=GIF_SEARCH&gif_id=nYiHd4Mh3w6fS&action_type=SENT"}}},{"type":"gif","id":"izijkWI2KBt0k","slug":"cindysuen-artists-on-tumblr-cindy-suen-icon-izijkWI2KBt0k","url":"https:\/\/giphy.com\/gifs\/cindysuen-artists-on-tumblr-cindy-suen-icon-izijkWI2KBt0k","bitly_gif_url":"https:\/\/gph.is\/1cBDDaZ","bitly_url":"https:\/\/gph.is\/1cBDDaZ","embed_url":"https:\/\/giphy.com\/embed\/izijkWI2KBt0k","username":"cindysuen","source":"https:\/\/cindysuen.tumblr.com\/post\/71103418731\/poncho","rating":"g","content_url":"","source_tld":"cindysuen.tumblr.com","source_post_url":"https:\/\/cindysuen.tumblr.com\/post\/71103418731\/poncho","is_sticker":0,"import_datetime":"2013-12-25
        13:46:00","trending_datetime":"1970-01-01 00:00:00","user":{"avatar_url":"https:\/\/media0.giphy.com\/avatars\/cindysuen.gif","banner_url":"","profile_url":"https:\/\/giphy.com\/cindysuen\/","username":"cindysuen","display_name":"Cindy
        Suen","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/izijkWI2KBt0k\/200_s.gif","width":"220","height":"200"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/izijkWI2KBt0k\/giphy_s.gif","width":"500","height":"455"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/izijkWI2KBt0k\/200w.gif","width":"200","height":"182","size":"8835","mp4":"https:\/\/media1.giphy.com\/media\/izijkWI2KBt0k\/200w.mp4","mp4_size":"4374","webp":"https:\/\/media1.giphy.com\/[...]
