---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_KEY>&q=snowy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"GiVKUtCrbD2og","slug":"GiVKUtCrbD2og","url":"https:\/\/giphy.com\/gifs\/GiVKUtCrbD2og","bitly_gif_url":"https:\/\/gph.is\/1xpsAI4","bitly_url":"https:\/\/gph.is\/1xpsAI4","embed_url":"https:\/\/giphy.com\/embed\/GiVKUtCrbD2og","username":"","source":"https:\/\/reddit.com\/r\/gifs\/comments\/2sevkz\/my_neighbor_released_his_snow_dog\/","rating":"pg","content_url":"","source_tld":"reddit.com","source_post_url":"https:\/\/reddit.com\/r\/gifs\/comments\/2sevkz\/my_neighbor_released_his_snow_dog\/","is_sticker":0,"import_datetime":"2015-01-14
        16:27:59","trending_datetime":"2015-01-14 16:52:41","images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200_s.gif","width":"356","height":"200"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy_s.gif","width":"400","height":"225"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200w.gif","width":"200","height":"113","size":"588672","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200w.mp4","mp4_size":"43795","webp":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200w.webp","webp_size":"194566"},"fixed_height_small_still":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100_s.gif","width":"178","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200_d.gif","width":"356","height":"200","size":"159999","webp":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200_d.webp","webp_size":"36514"},"preview":{"width":"320","height":"178","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy-preview.mp4","mp4_size":"37992"},"fixed_height_small":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100.gif","width":"178","height":"100","size":"486937","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100.mp4","mp4_size":"40190","webp":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100.webp","webp_size":"164464"},"downsized_still":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy-downsized_s.gif","width":"400","height":"225","size":"53378"},"downsized":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy-downsized.gif","width":"400","height":"225","size":"1888235"},"downsized_large":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy.gif","width":"400","height":"225","size":"2458563"},"fixed_width_small_still":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100w_s.gif","width":"100","height":"56"},"preview_webp":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy-preview.webp","width":"286","height":"161","size":"49388"},"fixed_width_still":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200w_s.gif","width":"200","height":"113"},"480w_still":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/480w_s.jpg","width":"480","height":"270","size":"14321"},"fixed_width_small":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100w.gif","width":"100","height":"56","size":"184855","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100w.mp4","mp4_size":"20150","webp":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/100w.webp","webp_size":"80418"},"downsized_small":{"width":"400","height":"224","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy-downsized-small.mp4","mp4_size":"119812"},"fixed_width_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200w_d.gif","width":"200","height":"113","size":"51117","webp":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200w_d.webp","webp_size":"16412"},"downsized_medium":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy.gif","width":"400","height":"225","size":"2458563"},"original":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy.gif","width":"400","height":"225","size":"2458563","frames":"84","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy.mp4","mp4_size":"145190","webp":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy.webp","webp_size":"578742"},"fixed_height":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200.gif","width":"356","height":"200","size":"1926562","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200.mp4","mp4_size":"97945","webp":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/200.webp","webp_size":"437306"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy-loop.mp4","mp4_size":"934106"},"original_mp4":{"width":"480","height":"270","mp4":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy.mp4","mp4_size":"145190"},"preview_gif":{"url":"https:\/\/media3.giphy.com\/media\/GiVKUtCrbD2og\/giphy-preview.gif","width":"142","height":"80","size":"49240"}},"title":"snowy
        GIF","_score":2300017.2,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7425f5777133534995f1f7&event_type=GIF_SEARCH&gif_id=GiVKUtCrbD2og&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7425f5777133534995f1f7&event_type=GIF_SEARCH&gif_id=GiVKUtCrbD2og&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7425f5777133534995f1f7&event_type=GIF_SEARCH&gif_id=GiVKUtCrbD2og&action_type=SENT"}}},{"type":"gif","id":"l4Kigo9LEWupYJfNK","slug":"justin-snowy-flurries-the-peanuts-movie-l4Kigo9LEWupYJfNK","url":"https:\/\/giphy.com\/gifs\/justin-snowy-flurries-the-peanuts-movie-l4Kigo9LEWupYJfNK","bitly_gif_url":"https:\/\/gph.is\/1VqTXzC","bitly_url":"https:\/\/gph.is\/1VqTXzC","embed_url":"https:\/\/giphy.com\/embed\/l4Kigo9LEWupY[...]
