---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?accuracy=11&api_key=<FLICKR_KEY>&format=json&lat=39.7392358&long=-104.990251&method=flickr.photos.search&nojsoncallback=true&tags=landscape,scenic,photography
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":7053,"perpage":100,"total":"705276","photo":[{"id":"32280139507","owner":"168423098@N03","secret":"37d9c586c9","server":"7816","farm":8,"title":"Aurora
        over volcano","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32280132627","owner":"155326329@N08","secret":"137258d178","server":"7874","farm":8,"title":"32269084827_246b6b4dbb_o","ispublic":1,"isfriend":0,"isfamily":0},{"id":"47222283811","owner":"128878149@N07","secret":"96513f770a","server":"7851","farm":8,"title":"Vineyards
        in the Park of Curone at fall","ispublic":1,"isfriend":0,"isfamily":0},{"id":"40257253133","owner":"78457056@N00","secret":"66364e561d","server":"7907","farm":8,"title":"Het
        Vinne: la mouette sur son arbre","ispublic":1,"isfriend":0,"isfamily":0},{"id":"47222261821","owner":"32650254@N03","secret":"fa973714e2","server":"7900","farm":8,"title":"Willow
        Scape","ispublic":1,"isfriend":0,"isfamily":0},{"id":"47222253921","owner":"141825794@N06","secret":"457b6aa9f8","server":"7846","farm":8,"title":"Bison
        SUnset","ispublic":1,"isfriend":0,"isfamily":0},{"id":"47170173622","owner":"141825794@N06","secret":"8c3798a27a","server":"7878","farm":8,"title":"Bison
    [...]
